* {
  background-color: black;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: Navbar;
  src: url(../Portafolio/Fonts/Helvetica-BoldOblique.ttf);
}

/* nav bar, logo y background */

body .fondo {
  width: 0%;
}
ul {
  font-family: Navbar;
  color: white;
}
.navBar {
  position: absolute;
  margin: 30px;
  display: flex;
  justify-content: space-between;
}
