@font-face {
  font-family: matiasrosas;
  src: url(Fonts/made-soulmaze.otf);
}
@font-face {
  font-family: DragandNav;
  src: url(Fonts/Mightyline.ttf);
}
@font-face {
  font-family: textcards;
  src: url(Fonts/Roboto-Bold.ttf);
}
@font-face {
  font-family: Navbarestilo;
  src: url(Fonts/Helvetica-Bold.ttf);
}

/* Inicio del Css*/
/*index*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  h1 {
    font-family: matiasrosas;
  }
}

body{
  width: calc(100vw - (100vw - 100%));
  height: 100vh;
  //CLASES COMPARTIDAS
  .black {
    color: black;
  }
  .white {
    color: white;
  }
  .fondoBlanco {
    background-color: white;
    width: 100%;
    height: 100%;
  }
  .fondoNegro {
    background-color: black;
    background-image: url(img/backgroun.png);
    width: 100%;
    min-height: 100%;
  }
  .mostrar {
    display: flex !important;
  }
  .contenedorIndex {
    height: 100vh;
    overflow: hidden;
  }
  .singlepage {
    height: 100%;
  }
  .socialmedia :hover {
    text-decoration: none;
    transition: ease-in-out;
    transform: scale(0.3s);
  }
 
  
  //CURSOR
  .cursor {
    width: 60px;
    height: 60px;
    border: 5px #1690a0;
    border-radius: 50%;
    position: absolute;
    background-color: #232323;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    pointer-events: visibleFill;
  }
  h1 :hover .cursor {
    transform: scale(10);
  }
  
  //HEADER
  header{
    .titulo {
      cursor: cell;
      height: auto;
      width: 70%;
      transition: all;
      justify-content: space-between;
      padding: 5px 5%;
      transition: all 1.5s;
      img:hover {
        transform: scale(1.2);
        transition: ease-out 300ms;
      }
      a {
        text-decoration: none;
      }
    }
    //NAV
    .navegacion {
      font-family: Navbarestilo;
      font-size: 20px;
      position: relative;
      display: flex;
      justify-content: right;

      
      #navBar :hover {
        transform-origin: 10%;
      }
      .itemnavegacion {
        text-decoration: none;
      
        }
      }
      .itemnavegacion ::after {
        transform: scale(5px);
      }
      li {
        display: inline-block;
        margin: 0 15px;
      }
    

      
    }
    .navegacion :hover {
      cursor: crosshair;
      color: brown;
      transition: ease-out 100ms;
      transform: a scale(1.2);
    }

    //MOBILE
    .navegacionMobile {
      display: none;
      justify-content: space-between;
      width: 100%;
      align-items: center;
      padding: 20px;
      font-size: 1.5rem;
      button {
        background: none;
        border: 0;
        i {
          font-size: 1.5rem;
        }
      }
      ul {
        list-style: none;
        display: none;
        position: fixed;
        left: 0;
        top: 100px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.95);
        li {
          width: 100%;
          display: flex;
          justify-content: center;
          padding: 12px 0;
          transition: transform 0.5s;
          a {
            text-decoration: none;
            color: white;
            font-family: Navbarestilo;
          }
        }
      }
    }
  }

  //INDEX & EXPERIENCIA
  main{
    height: 65%;
    //INDEX
    .Bienvenida{
      h2 {
        font-family: matiasrosas;
        color: brown;
        display: flex;
        justify-content: center;
        text-align: center;
      }
    }
    .bienvenidaimg {
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }
    //EXPERIENCIA
    .textoDescriptivo {
      font-family: Arial, Helvetica, sans-serif;
      color: white;
      padding-top: 10%;
    }
  }
  //WORKS
  .cardsContainer {
    display: flex;
    padding: 20px 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    .card {
      display: flex;
      padding: 20px;
      width: 70%;
      justify-content: space-evenly;
      background-color: rgba(0, 0, 0, 0.7);
      border-radius: 10px;
      margin: 10px 0;
      .redshadow {
        box-shadow: -7px 7px #e85e56, -14px 14px #d7534b;
      }
      
      .blueshadow {
        box-shadow: -7px 7px #1cdffa, -14px 14px #1690a0;
      }
      
      .yellowshadow {
        box-shadow: -7px 7px #b2a044, -14px 14px #b59a14;
      }
      .cardimg {
        width: 40%;
        display: flex;
        order: 2;
        img {
          width: 100%;
          height: auto;
        }
      }
      .cardtext {
        display: flex;
        flex-direction: column;
        order: 1;
        justify-content: space-around;
        color: white;
        width: 40%;
        height: auto;
        font-family: textcards;
        a {
          text-decoration: none;
          color: white;
        }
        .textcard {
          font-family: matiasrosas;
        }
      }
    }
  }
  //SOBREMI
  .sobremi {
    font-family: matiasrosas;
    color: brown;
    padding-top: 10%;
    p {
      font-family: Navbarestilo;
      font-size: 1rem;
    }
  }
  //FOOTER
  footer{
    .itemfooter{
      display: inline-block;
      .dragaAbajo {
        font-family: dragandNav;
        font-size: 98px;
        font-weight: normal;
      }
      audio {
        border-radius: 50%;
        position: absolute;
        bottom: 0;
        right: 0;        
      }
    }
    .redes {
      margin-left: 69px;
    }

    audio {
      border-radius: 50%;
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }


@media (max-width: 768px) {
  body{
    header{
      .navegacion {
        display: none;
      }
      .navegacionMobile {
        display: flex;
      }
    }
    footer{
      .redes {
        display: none;
      }
    }
  }
}


